html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

img {
    width: 200px;
    position: absolute;
    top: 15px;
    left: 50px;
}

#piano {
    background-color: purple;
    width: 992px;
    height: 290px;
    margin: 100px auto;
    position: relative;
    padding: 70px 0 0;
}

.keys {
    background-color: black;
    width: 883px;
    height: 200px;
    margin-left: 50px;
    overflow: hidden;
}

.key {
    background-color: white;
    height: 190px;
    width: 32px;
    float: left;
    margin: 5px;
    position: relative;
}

.key.black--key::before {
    content: "";
    background-color: black;
    width: 30px;
    height: 100px;
    position: absolute;
    left: -19px;
    top: 0;
}

.key:hover {
    padding: 0.5px;
    cursor: pointer;
    background-color: rgb(202, 202, 202);
}

@media (max-width: 950px) {
    #piano {
        width: 715px;
    }

    .keys {
        width: 590px;
        margin: 0 auto;
    }

    .logo {
        width: 175px;
        margin-left: 15px;
    }
}

@media (max-width: 650px) and (min-width: 250px) {
        #piano {
        width: 340px;
    }

    .keys {
        width: 295px;
        margin: 0 auto;
    }
    
    .logo {
        width: 125px;
        margin-left: -20px;
    }
}